/* .header2{
    margin-top: 0px;
} */

.header2Titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'STIX Two Math', serif;
    color: #444;
}
.header2TitlesSm{
    position: absolute;
    top: 25%;
    font-size: 20px;
}
.header2TitlesLg{
    position: absolute;
    top: 10%;
    font-size: 100px;
}
.header2Img{
    width: 100%;
    height: 450px;
    margin-top: 0px;
    object-fit: cover;
}