#flexmain{
    background-color: rgb(236, 235, 236);
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 3rem 1rem 3rem 1rem;
    border: 1px solid grey;
    border-radius: 3px;
    text-align:center;
}
.signTitle {
    color: #293740;
    margin-top:3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.col-auto {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
}
#login-btn {
    background-color: rgb(50, 50, 255);
    color: white;
    border: 1px solid black;
    padding:3px;
}
.flex-container {
    margin-top: 7rem;
    display:flex;
    display: inline-flex;
}