.logOut {
    height: 900px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: url(../../images/logoutimage_800x600.jpg);
background-size:cover;

}

.logoutSquare {
    box-shadow: 10px 12px 75px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 12px 75px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 12px 75px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    border: 3px solid #a3c1dd;
background: rgba(236,235,236,1);
height: 280px;
width: 650px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.logoutTitle{
    font-size: 300%;
    justify-content: center;
    text-align: center;
    font-family: "Lora";
    text-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}

.logMessage{
    font-size:larger;
    text-align: center;
    margin-top: 30px;
    font-family: "Besley";
    text-shadow: 0px 0px 11px rgba(0,0,0,0.5);
}
.loginButton {
    margin-top: 75px;
    width: 125px;
    height: 30px;
    background-color:#a3c1dd ;
    border-radius: 20px;
    font-family: "Besley";
    text-shadow: 0px 0px 11px rgba(0,0,0,0.5);


}

